[Unit]
Description=Schedule daily updates
RefuseManualStart=no
RefuseManualStop=no

[Timer]
#Execute job if it missed a run due to machine being off
Persistent=true
OnCalendar=daily
#File describing job to execute
Unit=matrix-updater.service

[Install]
WantedBy=timers.target
